.list{
    color:white;
    background-color:purple;
    height:80px;
    width:350px;
    margin:0px auto;
    border-radius:5px;
    text-align:left;
}
.list p{
    padding:10px;  
    position:relative;
}
.list p button{
    text-align:right;
    background-color:red;
    position:absolute;
    right:10px;
    top:7.5px;
    border-radius:5px;
    cursor:pointer;
}
.list p input{
    background-color:transparent;
    border:0px;
    color:white;
}